* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #FEF3E2;
  --main-color: #FA812F;
  --secondary-color: #FAB12F;
  --third-color: #FA4032;
}

body {
  background: var(--background-color);
}

.slide-show {
  position: relative;
}

.slide-show img {
  width: 100%;
  height: 70vh;
}

.v-left {
  position: absolute;
  top: 45%;
  left: 1%;
}

.v-right {
  position: absolute;
  right: 1%;
  top: 45%;
}

.v-left,
.v-right {
  font-size: 5.5vh;
  color: #fff;
}

.v-left:hover,
.v-right:hover {
  cursor: pointer;
  opacity: 0.8;
}

.logoSaleNoti {
  width: 85%;
}

.contact-logo {
  width: 21%;
}

.contact-logo:hover {
  width: 19%;
}

.footer-logo, .header-li {
  text-decoration: none;
}

.header-li {
  color: var(--third-color);
}

.header-li:hover {
  font-size: 1.1rem;
}