@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Lobster");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  color: unset;
}

:root {
  --background-color: #fef3e2;
  --main-color: #7fc7d9;
  --secondary-color: #365486;
  --third-color: #fa4032;
}

.slide-show {
  position: relative;
}

.slide-show img {
  width: 100%;
  height: 70vh;
}

.v-left {
  position: absolute;
  top: 45%;
  left: 1%;
}

.v-right {
  position: absolute;
  right: 1%;
  top: 45%;
}

.v-left,
.v-right {
  font-size: 5.5vh;
  color: #fff;
}

.v-left:hover,
.v-right:hover {
  cursor: pointer;
  opacity: 0.8;
}

.logoSaleNoti {
  width: 85%;
}

.contact-logo {
  width: 21%;
}

.contact-logo:hover {
  width: 19%;
}

.footer-logo,
.header-li {
  text-decoration: none;
}

.nav-header > ul > li > a > img {
  width: 120px;
  height: 70px;
}

.nav-header {
  position: absolute;
  top: 40px;
  left: 50px;
}

.header {
  z-index: 1000;
}

.navbar-brand {
  height: 20em;
  overflow: hidden;
}

.navbar-brand:before {
  content: "";
  display: block;
  position: relative;
  top: -195%;
  left: -25%;
  height: 219%;
  width: 200%;
  background: var(--main-color);
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.1);
  transform: rotateZ(-6deg) skew(-6deg);
}

.navbar-brand .navbar-heading {
  position: absolute;
  top: 4vmax;
  left: 2vmax;
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 7em;
  font-family: "Lobster", cursive;
  transform: rotateZ(-6deg);
  text-shadow: 2px 2px 0px var(--secondary-color),
    4px 4px 0px var(--secondary-color), 6px 6px 0px var(--secondary-color),
    8px 8px 0px var(--secondary-color), 10px 10px 0px var(--secondary-color);
}

nav {
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar ul li {
  float: left;
  display: block;
  transition-duration: 0.5s;
  border-radius: 50px;
}

.navbar ul li:hover {
  cursor: pointer;
  background-color: var(--main-color);
}

.navbar ul li:hover > a {
  color: #fff;
}

.navbar-menu li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  background-color: #b6b6b6;
}

.navbar-menu li a {
  display: block;
  color: #969696;
  text-align: center;
  padding: 12px 36px;
  text-decoration: none;
}

.navbar-container {
  position: absolute;
  top: 8em;
  right: 1%;
}

.admin-header {
  height: 60px;
  background: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.admin-right img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}

.admin-right img:hover {
  border: 3px solid #ccc;
}

.admin-side-bar {
  height: 40rem;
  background-color: var(--secondary-color);
  width: 18%;
}

.admin-ct-right {
  margin-top: 50px;
  margin-left: 50px;
  width: 70%;
}

.admin-nav li a {
  width: 100%;
}